@{
    ViewBag.Title = "Uploads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lämna in inlämningsuppgifter</h2>

@if ((int)HttpContext.Current.Session["UserLMS"] == 2)
{
<div>
    @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="UpFile" id="UpFile" value="Välj fil">
        <br />
        <button type="submit">Ladda up</button>
        <br />
        <br /> 
        @ViewBag.Message
    } 
</div>
}
