@model IEnumerable<string>
@{
    ViewBag.Title = "Klass-Gemensam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = "~/FileHandler/Shared/" + ViewBag.PathToClass + "/";
}

<h2>Klass-Gemensam</h2>

<ul>
    @if (Model != null)
    {
        foreach (var fName in Model)
        {
            var name = fName;
            var link = @Url.Content(path) + name.Replace(" ", "%20");

            <li>
                <a href="@link">@name</a>
            </li>
        }
    }
</ul>

<div>
    @using (Html.BeginForm("Index", "ClassFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="UpFile" id="UpFile" value="Välj fil" />
        <button type="submit">Ladda up</button>
        <br />
        <br />
        @ViewBag.Message
    }
</div>