@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Robert.Nygren@studentconsulting.com">Robert.Nygren@studentconsulting.com</a><br />
    <strong>Programming:</strong>   <a href="mailto:Hans.Danielsson@studentconsulting.com">Hans.Danielsson@studentconsulting.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Lars.Junered@studentconsulting.com">Lars.Junered@studentconsulting.com</a>
</address>