@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMS System</h1>
    <p class="lead">Välkommen hit till detta system!</p>
</div>

<div class="row">
    <div>
        <h3>Här registrerar och kollar du på scheman för olika klasser om du har rätt behörighet.</h3>
        <p>Logga in om du inte redan har gjort det.</p>
    </div>
</div>