@model IEnumerable<string>
@{
    ViewBag.Title = "Klass Gemensam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = "~/TeacherFiles/ListTeacherFiles?id=Shared/";
}

<h2>Klass-Gemensamma Filer</h2>

<ul>
    @if (Model != null)
    {
        foreach (var fName in Model)
        {
            var name = fName;
            var link = @Url.Content(path) + name.Replace(" ", "%20");

            <li>
                <a href="@link">@name</a>
            </li>
        }
    }
</ul>